app/foo.db
config.py
# Mac crap
.DS_STORE

*.py[cod]

# C extensions
*.so

# Packages

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

venv/
# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# node modules installed by npm
app/static/js/node_modules/
