# Mac crap
.DS_STORE

# Parse Config Files
config/*

*.py[cod]

# C extensions
*.so

# Packages

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
