

<!-- Main Navbar for the App -->
<link rel="stylesheet" href="static/css/base.css">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button 
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Selection bar -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <!-- Select servery button -->
          <a 
            href="#" 
            class="dropdown-toggle" 
            data-toggle="dropdown">
              {{ servery.name || "Select Servery" }} <b class="caret"></b>
          </a>



          <!-- List of serveries for the dropdown menu -->
          <ul class="dropdown-menu">
            <li ng-repeat="servery in serveries">
              <a ng-click="selectServery(servery)">{{servery.name}}</a>
            </li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left">
        <div>
          <!-- Datepicker -->
          <input 
            type="text" 
            style="width: 205px;" 
            class="form-control" 
            datepicker-popup="{{datePicker.format}}" 
            ng-model="datePicker.dt" 
            is-open="opened" 
            datepicker-options="datePicker.dateOptions" 
            ng-required="true" 
            close-text="Close"
            show-weeks="false"
          />
          <!-- Datepicker button -->
          <button 
            class="btn btn-default" 
            ng-click="datePicker.open($event)">
              <i class="glyphicon glyphicon-calendar"></i>
          </button>
          <!-- Lunch / Dinner toggle -->
          <div class="btn-group">
           <button type="button" class="btn btn-default">Lunch</button>

           <button type="button" class="btn btn-default">Dinner</button>
          </div> 
        </div>
      </form>

      <!-- Search bar -->

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>



<!-- Meal Information -->
<div class="row">

  <!-- Left column -->
  <div class="servery-info col-sm-6 col-sm-4">

    <!-- Servery Thumbnail -->
    <div class="thumbnail">
      <img src="static/img/serveries/placeholder_med.jpeg" alt="...">
        <div class="caption">
          <h4>{{servery.name }}</h4>
        </div>
    </div>


    <!-- Servery Hours -->
    <div class="panel panel-default">
      <div class="panel-heading">
        Hours
        <span 
          class="label label-success"
          ng-show="servery.opening_hours.open_now">
          Currently Open
        </span>
        <span
          class="label label-default"
          ng-hide="servery.opening_hours.open_now">
          Currently Closed
        </span>
      </div>
      <table class="table">
        <tr> <!-- Meal headers -->
          <td></td>
          <th ng-repeat="meal in meals">{{ meal }}</th>
        </tr>
        <tr ng-repeat="(period, hours) in servery.opening_hours.periods">
          <td>{{ period | dayofweek }}</td>
          <td ng-repeat="meal in meals">
            <span ng-show="hours[meal].time_open">
              {{ hours[meal].time_open }} - {{ hours[meal].time_close }}
            </span>
          </td>
        </tr>
      </table>               
    </div>
  </div>

  <!-- Right column -->
  <div class="servery col-sm-6 col-md-8">
    <!--<div class="thumbnail">
      <div class="caption">
        <h3>Menu</h3>
        <ol>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
        </ol>
      </div>
    </div>-->  
    <h2>Menu</h2>
    <div 
      class="menu panel panel-primary" 
      ng-repeat="meal in meals.slice(1)">
      <div class="panel-heading">
        <h3 class="panel-title">{{meal}}</h3>
      </div>
      <div class="panel-body">
        <ul ng-show="menu[meal]" class="list-group">
          <li ng-repeat="item in menu[meal]" class="list-group-item">
            {{ item.name }}
            <span 
              ng-repeat="tag in item.tags"
              class="label label-default"> 
              {{ tag }}
            </span>
          </li>
        </ul>
        <em class="not-found" ng-hide="menu[meal]">
          No items found.
        </em>
      </div>
    </div>
  </div>
</div>


