<tabset type="'tabs'">
  <tab ng-repeat="mealOption in mealOptions">
    <tab-heading>
      <h5>
        {{mealOption.servery.fullname}} 
      </h5>
    </tab-heading>

    <h2>
      Menu
    </h2>
    <div class="menu panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{mealOption.meal_type}}
        </h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li ng-repeat="item in mealOption.dishes" class="list-group-item row">

          <span>
              {{ item.name }}
              </span>
              
              <span class="pull-right foo"> 
              

              <a class="btn btn-default btn-xs" ng-class="item.vote_type!='up' ? 'btn-default' : 'btn-success' " ng-click="upvote(item)" >
                <i class="glyphicon glyphicon-chevron-up"></i>
               </a>      

              <span class="score">{{item.score}}</span>

              <a class="btn btn-default btn-xs" ng-class="item.vote_type!='down' ? 'btn-default' : 'btn-success' " ng-click="downvote(item)" >
                <i class="glyphicon glyphicon-chevron-down"></i>
               </a>  

            </span>

          </li>
        </ul>
      </div>
    </div>
    
  </tab>
</tabset>
