<div id="topHeader">
  <h2>{{day}} {{mealOptions[0].meal_type}}</h2>

  <div class="oneLine">
  <div class="">


  
  <div ng-repeat="mealOption in mealOptions" class="menuThing">
    <div class="menu panel panel-primary noMarginIfRotate">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{mealOption.servery.name}}
        </h3>
      </div>
      <div class="panel-body menuItemList">
        <ul class="list-group">
          <li ng-repeat="item in mealOption.dishes" class="list-group-item row">
            <div class="detailedMenuItem">
              <menu-item item=item></menu-item>
            </div>
            <div class="simpleMenuItem">
              {{item.name}}
            </div>
          </li>
        </ul>
      </div>
    </div>
    </div>
    
  </div>
  </div>

</div>

<script src="static/js/testViewer.js"></script>