


    

    <div class="container">

      <div class="starter-template">
        <div class="row">
          <div class="col-md-3 col">
            <button type="button" class="btn btn-primary btn-lg btn-add" id = "searchButton">Search</button>
          </div>
        </div> <!-- row -->


        <div class="row">
          <div class="col-md-9 col">
            <input type="text" class="form-control" placeholder="Type in a meal" id = "search">
          </div>

          
          <div class="col-md-3 col"></div>
      </div><!-- starter-template -->

     
        
      </div> 
      

    </div><!-- /.container -->


