<h1>Hello World!</h1>



<!-- Meal Information -->
<div class="row">
  <div class="servery col-sm-6 col-sm-4">
    <div class="thumbnail">
      <img src="static/img/serveries/placeholder_med.jpeg" alt="...">
        <div class="caption">
          <h4>North Servery</h4>
        </div>
    </div>
  </div>

  <div class="servery col-sm-6 col-md-8">
    <div class="thumbnail">
      <div class="caption">
        <h3>Menu</h3>
        <ol>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
<div align="center">
  <button class="btn btn-sm btn-info" ng-click="today()">Go to Today</button>
</div>
<br>
<div align="center" style="display:inline-block; min-height:290px;">
  <div class="well well-sm" ng-model="dt">
    <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
  </div>

</div>


