<h1>Hello World!</h1>
<h1>Hello World!</h1>
<h1>Hello World!</h1>
<h1>Hello World!</h1>
<h1>Hello World!</h1>
<h1>Hello World!</h1>
<h1>Hello World!</h1>
<h1>Hello World!</h1>
<h1>Hello World!</h1>
<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
<div align="center">
  <button class="btn btn-sm btn-info" ng-click="today()">Go to Today</button>
</div>
<br>
<div align="center" style="display:inline-block; min-height:290px;">
  <div class="well well-sm" ng-model="dt">
    <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
  </div>

</div>


