<div class="buttonlist">
  <p ng-repeat="servery in serveries" class="buttonitems">
    <img src="{{servery.image}}" class="servery-image"></img>
    <span id="servery-text">
      Serving <strong>{{servery.info}}</strong> College<!-- <span ng-if="servery.plural">s</span> -->
    </span>
      <a class="btn btn-primary servery-button">
        {{servery.title}}
      </a>
  </p>
</div>
<div>
  <footer class="footer servery-footer">
    <p>Click to edit meals for a servery</p>
    <p>Credits:
      me
    </p>
  </footer>
</div>
