<!-- <ul>
  <li ng-repeat="todo in todos">
    {{todo.title}} {{todo.completed}}
</ul>
 -->                
 <section id="serveries">
  <div class="col-md-3 col-sm-3"
       ng-repeat="servery in serveries">
      <div>
          <p>Talk about one of the biggest features that your new website is going to have.</p>
          <a class="btn btn-primary">
            {{servery.title}}
          </a>
      </div>
  </div>
</section>
<footer>
  <p>Click to edit meals for a servery</p>
  <p>Credits:
    me
  </p>
</footer>