
/* Page */
html, body {
  background-color: #efefef;
}


/* Navigation Bar */

nav {
  background-color: rgb(70, 70, 70);
  padding: 20px 0 20px 0;
  text-align: center;
}

nav a.brand {
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 900;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  color: rgb(230, 230, 230);
}

nav a.brand:hover {
  color: white;
  text-decoration: none;
}

