
/* Navigation Bar */

nav {
  background: rgba(255, 255, 255, 0.4);
  padding: 20px 0 20px 0;
  text-align: center;
}

nav a.brand {
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 900;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

nav a.brand:hover {
  color: black;
  text-decoration: none;
}



#serveries {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #b3b3b3;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

#buttonlist {
  max-width: 600px;
  padding-left: 20px;
  margin: 0 auto;
}

#buttonitems {
  display: inline-table;
  list-style-type: none;
}

#servbuttons {
  width: 150px;
  margin-right: 20px;
}