

.buttonlist {
  	max-width: 600px;
  	margin: 0 auto;
  	text-align: center;
  	float: center;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.servery-button {
  	width: 160px;
}

.buttonitems {
  	display: inline-table;
  	list-style-type: none;
  	width: 170px;
  	margin-top: 20px;
  	margin-left: 10px;
  	margin-right: 10px;
}

#servbuttons {
  	width: 170px;
  	margin-right: 20px;
}

.servery-footer {
  	font-size: 10px;
}

#servery-names {
	/*display: block;*/
}

#servery-text {
	font-size: 9px;
}

.servery-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}