

#buttonlist {
  max-width: 600px;
  padding-left: 20px;
  margin: 0 auto;
}

#buttonitems {
  display: inline-table;
  list-style-type: none;
  width: 150px;
}

#servbuttons {
  width: 150px;
  margin-right: 20px;
}