#page-content{
  margin-top: 60px;
}

.servery-info {

}

.servery-info img {
  margin-top: 10px;
}

.servery-info .caption {
  text-align: center;
}

.servery-info .panel .panel-heading .label {
  float: right;
  line-height: 18px;
  vertical-align: middle;
}

.servery-info .panel table th {
  text-transform: capitalize;
}

.menu h3 {
  text-transform: capitalize;
}

.menu .not-found {
  margin-left: 20px;
}

.menu li span.label {
  float: right;
  line-height: 18px;
  margin-left: 2px;
  margin-right: 2px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}


.score {
  display: inline-block;
  text-align: center;
  width: 20px;
}

.menuThing {

  display: inline-block;
  vertical-align: top;
}


.oneLine {
  /*overflow: hidden;*/
  /*white-space: nowrap;*/
}

.menuItemList {
  display: block;
}


@media (max-width: 767px) {

.menuThing{
    width: 100%;
}
}

@media (min-width: 768px) {

.menuItemList{
    height: 400px;
    width: 400px;
}

.unselected .menuItemList{
    display: none;
}


.unselected .detailedMenuItem {
  display: none;
}


.selected .detailedMenuItem {
  display: block;
}



.unselected .menuThing {
    -moz-transform-origin: 21px 50%;
    -ms-transform-origin: 21px 50%;
    -o-transform-origin: 21px 50%;
    -webkit-transform-origin: 21px 50%;
    transform-origin: 21px 50%;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-bottom: 379px;
    width: 441px;
    margin-right: -399px
}
}


.noMarginIfRotate
{
  margin-bottom: 0px;
}

.allergyIcon
{
    width: 2em;
    height: 2em;
    margin-left: 10px;
}

.menuItem
{
    line-height: 2em;
}

.foodFilterCheckbox {
    margin-left: 0px !important;
    margin-right: 10px !important;
}

.inline {
    display: inline-block;
}

.allergyIcon.noMargin {
    margin-left: 0px;
}

h5.noMargin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.checkbox label.allergyFilterLabel {
    margin-right:20px;
    padding-left:0px;
    margin-left:5px;
}

.quickViewHeader{
    margin-left: 10px;
}

.foodImageLink {
    font-size: 20px;
    margin-left: 10px;
}

.disclaimer {
    white-space: normal;
    display: inline-block;
}

.mealTime {
    white-space: nowrap;
}

.quickViewChangeMealButtons {
    margin-bottom: 10px;
    margin-top: -10px;
}