#page-content{
  margin-top: 100px;
}

.servery-info {

}

.servery-info img {
  margin-top: 10px;
}

.servery-info .caption {
  text-align: center;
}

.servery-info .panel .panel-heading .label {
  float: right;
  line-height: 18px;
  vertical-align: middle;
}

.servery-info .panel table th {
  text-transform: capitalize;
}

.menu h3 {
  text-transform: capitalize;
}

.menu .not-found {
  margin-left: 20px;
}

.menu li span.label {
  float: right;
  line-height: 18px;
  margin-left: 2px;
  margin-right: 2px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}


.score {
  display: inline-block;
  text-align: right;
  width: 20px;
}

.menuThing {
  position: absolute;
  width: 500px;
  display: inline-block;
}